.input:focus {
}

.input {
    font-family: Montserrat;
    height: inherit;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding: 0 10px;
}

.inputWrapper {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    width: 372px;
    height: 36px;
    margin-bottom: 24px;
}

.superInput {

}

.errorInput {
border-color: #CC1439;
}

.errorInput:focus {

}

.error {
    font-family: Montserrat;
    font-size: 10px;
    height: 10px;
    color: #CC1439;
    margin-bottom: 5px;
}
