.App {
    --header_height: 60px;
    width: 1280px;
    margin: 0 auto;
}

.hw {
    border: 1px solid #D9D9D9;
    padding: 90px 106px 55px 70px;
    margin-bottom: 50px;
}

.hwTitle {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 22px;
}