.greetingForm {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
margin: 30px 70px 220px;
}

.inputAndButtonContainer {
display: flex;
}

.error {
color: #CC0000;
}

.input {
    width: 372px;
    height: 36px;
    font-weight: 500;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding: 8px 12px;
    margin-bottom: 10px;
    margin-right: 12px;
}

.input:focus {
}

.errorInput {
    width: 372px;
    height: 36px;
    border: 1px solid #CC0000;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 12px;
}

.button {
    height: 36px;
    border: none;
    border-radius: 3px;
    color: #FFFFFF;
    font-weight: 600;
    text-transform: capitalize;
    background-color: #0066CC;
    padding: 5px 24px;
    cursor: pointer;
}

.button:focus {
}

.button:active {
}

.button:disabled {
    opacity: 50%;
}

.text {
    opacity: 50%;
    margin-bottom: 9px;
}

.greeting {
    font-weight: 500;

}
